.book-car {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: auto;
    border-radius: 5px;
    color: #333;
    background-color: rgb(254, 254, 254, 0.4);
    box-shadow: 0 0px 35px 0 rgb(255 69 0 / 10%);
    margin-bottom: 5rem;
}

h1 {
    text-align: left;
}

.book-car-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    gap: 2rem;
    align-items: end;

}

.select-car,
.pick-up,
.return,
.pick-up-date,
.return-date {
    display: flex;
    flex-direction: column;
}

.car-img,
.location-img,
.calendar-img {
    color: orangered;
    font-size: 1.5rem;
}

.std-button {
    font-size: 1.1rem;
    width: 90%;
    font-weight: 600;
    justify-self: center;
    align-self: flex-end;
}

label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

select {
    color: #909090;
    border-color: #909090;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2px;
    padding: 0.5rem;
    outline: none;
}